# web
flask==3.0.3
gunicorn==22.0.0
apscheduler==3.10.4
waitress==3.0.0     # optional for Windows local dev (not used in Docker)

# data + ML
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.11.4
joblib==1.4.2
pyarrow==16.1.0
fastparquet==2024.5.0
PyYAML==6.0.1
tzdata==2025.2


flask-cors==4.0.1
python-dotenv==1.0.1

MetaTrader5==5.0.45